
/*�ʱ�ȭ*/
*{
	margin: 0; padding: 0; 
	text-decoration: none; 
	box-sizing: border-box; 
	font-family: '���� ���', 'Malgun Gothic', Gothic, sans-serif;
	}

a { 
	text-decoration: none; 
	}
li { 
	list-style: none; 
	}

/*�⺻ Ŭ���� */
.pull-left { float: left; }
.pull-right { float:right; }

/* 2. ������ �����ϱ�*/

body {
	width: 1500px; margin: 0 auto;
	background: #aeebe7;
	}
#page-wrapper {
	background: white;
	margin: 40px 40px; padding: 10px 20px;
	border-radius: 15px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	}
.login-button{
			border: 0;
			outline: 0;
		}
/* 3. ��� �����ϱ� */
#main-header { 
	padding: 40px 50px; 
	text-align: center;
	}
.master-title {
	font-size: 30px;
	color: #181818;
	}
.master-description{
	font-size: 15px; font-weight: 500;
	color: #383838;
	}

/* 4. ������̼� �� Ǯ�ٿ� �޴� �����ϱ� */
#main-navigation {
	border-top: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	margin-bottom: 20px;
	height: 40px;
	float: none;
	}
.outer-menu-item {
	float: left;
	position: relative;
	}
.outer-menu-item:hover {
	background: #3e9db8;
	color: white;
	}
.menu-title {
	display: block;
	height: 30px; line-height: 30px;
	text-align: center;
	padding: 5px 20px;
	}
.inner-menu {
	display: none;
	position: absolute;
	top: 40px; left: 0;
	width: 100%;
	background: white;
	box-shadow: 0 2px 6px rgba(5, 5, 5, 0.9);
	z-index: 1000;
	text-align: center;
	}
.inner-menu-item > a {
	display: block;
	padding: 5px 10px;
	color: black;
	}
.inner-menu-item > a:hover {
	background: #3e9db8;
	color: white;
	}

/* �˻� ��� �߰��ϱ�(������̼� ������ �˻�) */
.search-bar {
	height: 26px;
	padding: 7px;
	}
.input-search {
	display: block;
	float: left;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 15px 0 0 15px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	width: 120px; height: 24px;
	padding: 0 0 0 10px;
	font-size: 12px;
	color: #555555;
	}
.input-search:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}
.input-search-submit {
	display: block;
	float: left;
	width: 50px; height: 26px;
	border-radius: 0 15px 15px 0;
	border: 1px solid #CCCCCC;
	margin-left: -1px;
	vertical-align: top;
	display: inline-block;
	}

/*�߾� ����*/
#content { 
	overflow: hidden; 
	}
#main-section {
	float: left;
	width: 710px;
	}
#main-aside {
	float: right;
	width: 200px;
	}
	
/* ���� ���� */
article {
			padding: 0 10px 20px 10px; 
			border-bottom: 1px solid #C8C8C8;
			width: 1150px;
		}
		.article-header { padding: 20px 0; }
		.article-title {
			font-size: 25px;
			font-weight: 500;
			padding-bottom: 10px;
		}

		.article-body {
			font-size: 14px;
		}

/* ���� ���� */
.aside-list { padding: 10px 0 30px 0; }
		.aside-list > h3 {
			font-size: 15px;
			font-weight: 600;
		}
		.aside-list li a {
            margin-left: 8px;
            font-size: 13px;
            color: #6C6C6C;
        }
.search-bar {
			height: 26px;
			padding: 7px;
		}
		.input-search {
			display: block;
			float: left;
			background-color: #FFFFFF;
			border: 1px solid #CCCCCC;
			border-radius: 15px 0 0 15px;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
			width: 120px; height: 24px;
			padding: 0 0 0 10px;
			font-size: 12px;
			color: #555555;
		}
		.input-search:focus {
			border-color: rgba(82, 168, 236, 0.8);
			outline: 0;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		}
		.input-search-submit {
			display: block;
			float: left;
			width: 50px; height: 26px;
			border-radius: 0 15px 15px 0;
			border: 1px solid #CCCCCC;
			margin-left: -1px;
			vertical-align: top;
			text-align: center;
		}
		
/*login_style*/
.loginbox{
	margin : 20px; padding:25px 15px; box-sizing:border-box; 
	position : relative; left : 35%; top:50%;
	}
.loginbox h1{
	width:100%; height:40px; font-size:32px; 
	color:#aeebe7; border-bottom:1px solid #999; 
	padding-left:20px; box-sizing:border-box; 
	background-repeat:no-repeat; background-position: 3px 5px; 
	margin-bottom:30px;
	}
.userID{
	font-size:18px; 
	color:#666; 
	margin-left:18px; 
	margin-right:22px;
	}
.userPassword{
	font-size:18px; 
	color:#666; 
	margin-left: 15px; 
	margin-right: 8px;
	}
.chk{
	width:100%; 
	text-align: right; 
	padding-right: 13px; 
	box-sizing: border-box; 
	margin-bottom: 20px;
	}
.chk label{
	font-size: 14px; 
	color:#999; 
	position:relative; top:-3px;
	}
.search{
	width: 100%; height:40px;
	border-bottom: 1px dashed #999; 
	box-sizing: border-box; 
	line-height: 40px; 
	text-align: center; 
	margin-bottom: 40px;
	}
.search span{
	font-size:13px; color:#999;
	}
.search a{
	font-size: 14px; 
	text-decoration:none; 
	background-color: #333; color: #fff; 
	padding:3px 5px; 
	border-radius: 3px; 
	margin-left:5px;
	}
.btnwrap{
	width:100%; 
	text-align: center;
	}
.btnwrap label{
	position:absolute;
	left: -999em;
	}
.btnwrap a{
	width:134px; height: 40px; 
	background-color: #999; 
	text-decoration: none; 
	display: inline-block; 
	border-radius: 3px; 
	color:#fff; 
	font-size: 14px; font-weight: bold; 
	line-height:35px;
	}
#login{
	width:134px; height:40px; 
	border:none; background-color: #aeebe7; 
	border-radius: 3px; 
	color:#fff; 
	font-size:14px; font-weight:bold; 
	position: relative; top:1px;
	}

/*join_style*/
.joinbox{
	margin : 20px; padding:25px 15px; box-sizing:border-box; 
	position : relative; left : 35%; top:50%; 	
	}

.joinbox h1{
	width:100%; height:40px; 
	font-size:32px; 
	color:#aeebe7; 
	border-bottom:1px solid #999; 
	padding-left:20px; 
	box-sizing:border-box; 
	background-repeat:no-repeat; background-position: 3px 5px; 
	margin-bottom:30px;
	}
#userID, #userPassword, #userName, #userEmail, #userPasswordCheck{
	width:400px; height:30px;
	border:1px solid #999; 
	box-sizing: border-box; 
	margin-bottom: 18px;text-align: center;
	}
.signup_btn{
	width:134px; height:40px; 
	border:none; 
	background-color: #aeebe7; 
	border-radius: 3px; 
	color:#fff; 
	font-size:14px; font-weight:bold; 
	position: relative; top:1px;
	}

.form-group{
	margin-bottom:30px;
	}

.bottom-text{
  margin-top: 30px;
  text-align:center;
  }
.bottom-text a{
  color:#08AEEA;
  }

/*find_style*/
.findbox{
	margin : 20px; 
	padding:25px 15px; 
	box-sizing:border-box; 
	position : relative; left : 35%; top:50%;
	}
.findbox h1{
	width:100%; height:40px; 
	font-size:32px; color:#aeebe7; 
	border-bottom:1px solid #999; 
	padding-left:20px;
	box-sizing:border-box; 
	background-repeat:no-repeat; background-position: 3px 5px; 
	margin-bottom:40px;
	}
.btn{
	width:100%; 
	text-align: center;
	}
#passFind, #idFind{
	width:134px; height:40px; 
	border:none; 
	background-color: #aeebe7; 
	border-radius: 3px; 
	color:#fff; 
	font-size:14px; font-weight:bold; 
	position: relative; top:1px;
	}
#back{
	width:134px; height:40px; 
	border:none; 
	background-color: #999; 
	border-radius: 3px; 
	color:#fff; 
	font-size:14px; font-weight:bold; 
	position: relative; top:1px;
	}
#finduserID, #finduserPassword2{
	width:200px; height:50px;
    border: solid 1px rgba(210, 210, 210, 0.69);
    outline: none;
    color : black;
    background-color: #ffffff;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    margin: 2px;
    display: inline-block;
    text-indent: 0;
    font-style: normal;
    font-size: 15px;
    padding: 3px 7px;
    margin-bottom: 30px;
    border : 1px solid black;
    }
#finduserPassword, #finduserID2{
	width:200px; height:50px;
    border: solid 1px rgba(210, 210, 210, 0.69);
    outline: none;
	color:black;
    background-color: #E8E8E8;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    margin: 2px;
    display: inline-block;
    text-indent: 0;
    font-style: normal;
    font-size: 15px;
    padding: 3px 7px;
    margin-bottom: 30px;
    }
#main-footer {
	margin:0 auto; 
	padding-top:100px; 
	height:100px;
	}
	
/* �Խ���*/
.bbsbox{
	margin : 10px; padding:15px 15px; 
	position : relative; left : 20px; top:50%;
	}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

/*�۾���*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
#writebtn{
	width:134px; height:40px; 
	border:none; background-color: #8ccedb; 
	border-radius: 3px; 
	color:#fff; 
	font-size:14px; font-weight:bold; 
	position: relative; top:1px;
	}
#nextbtn{
	width:134px; height:40px; 
	border:none; background-color: #67b3e6; 
	border-radius: 3px; 
	color:#fff; 
	font-size:14px; font-weight:bold; 
	position: relative; top:1px;
	padding:5px 10px;
	}
	
/*�Խ��Ǻ���*/
.login-button, .logout-button{
	width:90px; height:35px;
	border: solid 0px rgba(210, 210, 210, 0.69);
	}

